@import url("https://fonts.cdnfonts.com/css/clash-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}
.why {
  background: radial-gradient(
    163.01% 160.82% at 52.92% 167.2%,
    #000000 77.8%,
    #262629 99.14%
  );

  border-radius: 50% 50% 0 0/ 100% 100% 0 0;
}
